.questions {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;

  @media (max-width: 800px) {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  h2 {
    margin-bottom: 3.75rem;

    @media (max-width: 800px) {
      margin-bottom: 2.5rem;
    }
  }

  dl > div {
    padding: 1.25rem;
    border-radius: 4px;

    &:nth-child(odd) {
      background-color: $color2;
    }
  }

  dt {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    &::before {
      content: '';
      width: 12px;
      height: 8px;
      display: inline-block;
      background-color: $color-p1;
    }

    &::after {
      content: '';
      width: 14px;
      height: 6px;
      display: inline-block;
      background: url('../../img/icones/seta-abrir.svg');
    }

    &.active::after {
      background: url('../../img/icones/seta-abrir.svg');
      transform: rotate(-180deg);
    }
  }

  dd {
    padding-top: 1rem;
    padding-left: 1.25rem;
    max-width: 80ch;
    display: none;

    &.active {
      display: block;
    }
  }
}
