.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font: 600 1.125rem/1.35 $font-Primary;
  color: $color-p5;
  text-transform: uppercase;
  background: linear-gradient(#ffbb00, #f2a50c);
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  max-width: max-content;

  &:hover {
    background: linear-gradient(#ffb60d, #e59317);
  }

  @media (max-width: 600px) {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
}

.button.secundary {
  background: $color10;
  color: $color2;

  &:hover {
    background-color: $color9;
  }
}

.button.seta {
  display: flex;
  align-items: center;

  &::after {
    content: '';
    width: 18px;
    height: 10px;
    display: inline-block;
    margin: 0 12px;
    background: url('../../img/icones/seta.svg');
    transition: transform 0.2s;
  }

  &:hover::after {
    transform: translateX(4px);
  }
}

.link {
  display: inline-block;
  color: $color-p1;
  font: 500 1.5rem/1.5 $font-Primary;
  text-transform: uppercase;

  &::after {
    content: '';
    width: 0;
    height: 4px;
    display: block;
    background-color: currentColor; //pega valor do pai no caso color-p1
    transition: 0.3s;
  }

  &:hover::after {
    width: 100%;
  }
}

// titulo interno das pags

.title-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $color11;

  @media (max-width: 800px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .title {
    p {
      margin-bottom: 4px;

      @media (max-width: 800px) {
        font-size: 1rem;
        text-transform: lowercase;
        font-weight: 400;
      }
    }
  }
}
