#contact {
  background: linear-gradient($color11 600px, $color-1 0);

  .contact {
    display: grid;
    grid-template-columns: 5fr 7fr;

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }

    .contact-data {
      background-color: $color12;
      border-radius: 5px 0 0 5px;

      @media (max-width: 800px) {
        border-radius: 5px 5px 0 0;
      }

      h2 {
        margin-bottom: 60px;

        @media (max-width: 800px) {
          margin-bottom: 32px;
        }
      }

      .contact-address {
        margin-bottom: 32px;
        padding-left: 28px;
        background: url('../../img/icones/local.svg') no-repeat 0 2px;

        p {
          margin-bottom: 8px;
        }
      }

      .forms-contact {
        a {
          display: block;
          max-width: max-content;
          margin-bottom: 8px;
          padding-left: 28px;

          &:hover {
            color: $color0;
          }

          &:first-child {
            background: url('../../img/icones/email.svg') no-repeat 0 2px;
          }

          &:nth-child(2) {
            margin-bottom: 32px;
          }

          &:nth-child(3) {
            background: url('../../img/icones/telefone.svg') no-repeat 0 2px;

            @media (max-width: 800px) {
              margin-bottom: 32px;
            }
          }
        }
      }

      .contact-redes {
        display: flex;
        gap: 32px;
        margin-top: 20px;
        padding-left: 28px;

        @media (max-width: 800px) {
          margin-bottom: 12px;
        }
      }
    }

    .contact-form {
      background-color: $color0;
      border-radius: 0 5px 5px 0;

      @media (max-width: 800px) {
        border-radius: 0 0 5px 5px;
      }
    }

    .contact-data,
    .contact-form {
      padding: 60px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

      @media (max-width: 800px) {
        padding: 20px;
      }
    }
  }
}
