$color0: #fff;
$color3: #ffbb00;
$color5:  #b2b2b2;
$color10:#2e2e2e;
$color11: #111;
$color12: #000000;

.color-0 {
  color: $color0;
}

.color-5 {
 color: $color5;
}

.color-3 {
  color: $color3;
}

.color-11 {
  color: $color11;
}

.color-12 {
  color: $color12;
}