.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font: 600 1.125rem/1.35 $font-Primary;
  color: $color-p5;
  text-transform: uppercase;
  background: linear-gradient( #ffbb00, #f2a50c);
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  &:hover {
    background: linear-gradient( #ffb60d, #e59317);
  }

  @media(max-width: 600px) {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
}

.link {
  display: inline-block;
  color: $color-p1;
  font: 500 1.5rem/1.5 $font-Primary;
  text-transform: uppercase;
  

  &::after {
    content: '';
    width: 0;
    height: 4px;
    display: block;
    background-color: currentColor; //pega valor do pai no caso color-p1
    transition: .3s;
  }

  &:hover::after {
    width: 100%;
  }
}

