.button {
  font: 600 1.125rem/1.35 $font-Primary;
  color: $color-p5;
  text-transform: uppercase;
  background: linear-gradient( #ffbb00, #f2a50c);
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  &:hover {
    background: linear-gradient( #ffb60d, #e59317);
  }

  @media(max-width: 600px) {
    padding: 0.75rem 1rem;
    font-size: 1rem;
  }
}