.bike-intern {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 2.5rem;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .bike-intern-img {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;

    @media (max-width: 800px) {
      grid-row: 2;
    }

    img {
      flex: 1;
      min-width: 200px;
      cursor: pointer;

      &:first-child {
        min-width: 100%;
      }
    }
  }

  .bike-intern-content {
    p {
      margin-bottom: 2rem;
    }

    h2 {
      text-transform: uppercase;
      letter-spacing: 0.15em;
      margin-bottom: 0.75rem;
    }

    .bike-intern-buy {
      display: grid;
      grid-template-columns: max-content auto;
      align-items: center;
      justify-items: start;
      gap: 0.5rem 0.75rem;
      margin-bottom: 2.5rem;

      @media (max-width: 1000px) {
        grid-template-columns: 1fr;
      }

      a {
        grid-row: span 2;
      }

      span {
        display: flex;
        align-items: center;
        background-color: $color12;
        gap: 0.5rem;
        padding: 0.25rem 0.5rem;
        border-radius: 4px;
      }
    }

    .bike-intern-informations {
      margin-bottom: 2.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;

      @media (max-width: 1000px) {
        grid-template-columns: 1fr;
        gap: .8rem;
      }

      img {
        width: 24px;
        margin-bottom: 0.5rem;
      }

      h3 {
        margin-bottom: 0.5rem;
      }
    }

    .bike-intern-token {
      li {
        padding: 0.25rem 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $color11;

        &:last-child {
          border-bottom: none;
        }
      }

      span {
        color: $color7;
      }
    }

    .bike-intern-informations,
    .bike-intern-token {
      padding: 2rem;
      background-color: $color12;
      border-radius: 4px;
    }
  }
}

#nimbus .title p {
  text-transform: uppercase;
}
