.header-bg {
  background: $color12;

  .header {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    .header-menu {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      @media (max-width: 800px) {
        gap: 1rem;
      }

      @media (max-width: 600px) {
        gap: 0.8rem;
      }

      a {
        display: inline-block;
        padding: 2rem 0;
        position: relative;

        &::after {
          content: '';
          display: block;
          height: 2px;
          width: 0;
          background-color: $color0;
          margin-top: 0.125rem;
          transition: 0.3s;
          position: absolute;
        }

         &:hover::after, &.active::after {
          width: 100%;
        }

        @media (max-width: 800px) {
          padding: 1rem 1.2rem;
          border-radius: 4px;

          &:hover {
            background-color: $color10;
          }

          &::after {
            display: none;
          }
        }

        @media (max-width: 600px) {
          padding: 0.6rem 1rem;
          font-size: 1rem;
        }
      }
    }
  }
}
