.introduce-bg {
  background: $color12 url('../../img/dec/bottom-left.svg') no-repeat bottom
    160px left 20px;
  box-shadow: inset 0 -120px $color0;

  @media (max-width: 800px) {
    background-color: $color11;
    padding-top: 2.5rem;
    box-shadow: inset 0 -60px $color0;
  }

  .introduce {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 3rem;

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
      gap: 32px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 4px;

      @media (max-width: 800px) {
        height: 300px;
        width: 100%;
      }
    }

    .introduce-content {
      align-self: end;
      padding-bottom: 12.5rem;

      @media (max-width: 800px) {
        padding-bottom: 0;
      }

      h1 {
        margin-bottom: 2rem;

        @media (max-width: 800px) {
          margin-bottom: 1rem;
        }
      }

      p {
        margin-bottom: 1.25rem;
      }
    }
  }
}
