.tecnology-bg {
  background-color: $color11;
  box-shadow: inset 0 80px 0 $color0, inset 0 -80px 0 $color0;

  @media (max-width: 800px) {
    box-shadow: initial;
  }

  .tecnology {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }

    .tecnology-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;

      @media (max-width: 800px) {
        display: none;
      }
    }

    .tecnology-content {
      padding-top: 160px;
      padding-bottom: 160px;

      @media (max-width: 800px) {
        padding-top: 60px;
        padding-bottom: 60px;
      }

      h2 {
        margin-bottom: 32px;
      }

      p {
        margin-bottom: 20px;
      }

      a {
        margin-bottom: 80px;

        @media (max-width: 800px) {
          margin-bottom: 60px;
        }
      }

      span {
        display: inline-block;
        margin-bottom: 20px;
      }

      .tecnology-benefits {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        @media (max-width: 600px) {
          grid-template-columns: 1fr;
          gap: 20px;
        }

        h3 {
          margin-bottom: 8px;
          width: max-content;
        }

        img {
          width: 24px;
          margin-bottom: 8px;
        }
      }
    }
  }
}
