.header-bg {
  background: #000000;

  .header {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    .header-menu {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      @media(max-width: 800px ) {
        gap: 1rem;
      }

      @media(max-width: 600px ) {
        gap: .8rem;
      }

      a {
        font-size: 1.2rem;
        color: #fff;
        display: inline-block;
        padding: 2rem 0;
        position: relative;

        &::after {
          content: '';
          display: block;
          height: 2px;
          width: 0;
          background-color: #fff;
          margin-top: 2px;
          transition: .3s;
          position: absolute;
        }

        &:hover::after {
          width: 100%;
      
        }

        @media(max-width: 800px ) {
          padding: 1rem 1.2rem;
          border-radius: 4px;
          
          &:hover {
            background-color: #2e2e2e;
          }

          &::after { 
            display: none; 
          }
        }

        @media(max-width: 600px ) {
          padding: .6rem 1rem;
          font-size: 1rem;
        }
      }
    }
  }
}