@import './global/geral';
@import './utilities/typographies';
@import './utilities/colors';
@import './home/header';

//Utilities
@import './utilities/components';
@import './utilities/form';
@import './utilities/animation';
//Home
@import './home/introduce';
@import './home/tecnology';
@import './home/partners';
@import './home/depositions';
@import './home/footer';

//bike-list
@import './bicicletas/bike-list';
@import './bicicletas/bikes';

//bike-intern
@import './bike-intern/bike-intern';
@import './bike-intern/safe-bike';

//safes
@import './safes/safe';
@import './safes/benefits';
@import './safes/questions';

//contact
@import './contact/contact';
@import './contact/stores';

//budget
@import './budget/budget';

//terms
@import './terms/terms';
