@import './global/geral';
@import './utilities/typographies';
@import './utilities/colors';
@import './home/header';

//Utilidades
@import './utilities/components';

//Home
@import './home/introduce';
@import './home/tecnology';
@import './home/partners';
@import './home/depositions';
@import './home/safe';
@import './home/footer';

//bike-list
@import './bicicletas/bike-list';
@import './bicicletas/bikes';

//terms
@import './terms/terms.scss';
